apiVersion: 1

providers:
  - name: 'EVE-Core-Dashboards'
    orgId: 1
    folder: 'Infrastructure'
    type: file
    disableDeletion: false
    editable: true
    options:
      path: /var/lib/grafana/provisioning/dashboards
