# /etc/conf.d/victoria-metrics
# Generado automáticamente por el Orquestador EVE

# Le decimos que guarde en el HDD de 50GB y que lea el archivo de scrape que generamos en el paso 3.1
ARGS="-httpListenAddr=0.0.0.0:8428 -storageDataPath=/var/lib/victoria-metrics -retentionPeriod=7d -promscrape.config=/etc/victoria-metrics-scrape.yml"
